# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Tensorflow

Data Science Tools:
1. IBM watson Studio
2. Rstudio
3. Apache spark
4. Tableau

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
m = 200
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages used in data science
    - Python
    - R
    - Scala 
- List of tools for data science
    - IBM watson studio
    - IBM SPSS studio
    - Rstudio
    - Tableau 
- List of libraries
    - Pytorch
    - Tensorflow
    - Numpy
    - Scipy

## Author
Kaushal Patel.